.movie-container {
  padding: 20px;
  text-align: center;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
}

/* Add a media query for mobile screens to show 2 cards per row */
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  background: #000; /* Changed to black */
  box-shadow: 10px 10px 30px #161616, -10px -10px 30px #161616;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05); /* Small movement animation on hover */
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.card-details {
  padding: 10px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details h3,
.card-details p {
  margin: 5px 0;
  color: white;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Ensure the rating and text wrap properly */
}

.rating-text {
  margin-left: 10px;
  color: white;
  white-space: nowrap; /* Prevent text from wrapping */
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #666;
}

.pagination button:hover {
  background-color: #555;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  padding: 10px 20px;
  margin: 0 5px;
}
