.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #020631;
  padding: 10px 0;
  z-index: 1000; /* Ensure NavBar is on top */
}

.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.navbar svg {
  fill: white;
  cursor: pointer;
  transition: transform 0.3s;
}

.navbar svg:hover {
  transform: scale(1.2);
}
