.add-form-container-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: white;
}

.add-form-unique {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.add-form-unique h2 {
  margin-bottom: 20px;
}

.form-group-unique {
  margin-bottom: 15px;
  text-align: left;
}

.form-group-unique label {
  display: block;
  margin-bottom: 5px;
}

.input-field-unique {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
}

.submit-button-unique {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Green color */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit-button-unique:hover {
  background-color: #45a049; /* Darker green */
}

.not-logged-in-message {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #121212;
  color: white;
  font-size: 1.5em;
  padding: 20px;
}
